<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unidos por el Deporte | {% block title %}Inicio{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{url_for('static' , filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/barfiller.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css') }}" type="text/css">
{% block head %}{% endblock %}
</head>
<body>
    <!------------------------ ESTO VA EN EL BASE TAMBIEN [inicio] ------------------->
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin  -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu">
        <div class="offcanvas__logo">
            <a href="{{url_for ('home')}}"><img src="{{url_for('static' , filename='img/logo.png') }}" alt="logo"></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__widget">
            <ul>
                <li>LLAMANOS AL +54 11 4560 9603</li>
                <li>ESCRIBINOS: CICLISMOUPED@GMAIL.COM </li>
                <li>HORARIOS: LUN - VIE: 9:00 - 19:00</li>
            </ul>
            <a href="{{url_for ('registracion')}}" class="primary-btn">REGISTRARSE</a>
        </div>
        <nav class="header__menu">
            <ul class="mobile-menu">
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./about-us.html">About</a></li>
                <li><a href="./classes.html">Classes</a></li>
                <li><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="./classes-details.html">Classes Details</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                        <li><a href="./pricing.html">Pricing</a></li>
                        <li><a href="./faq.html">Faq</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="offcanvas__social">
            <a href="https://www.facebook.com/pedagogica/?locale=es_LA"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/universidaddepalermo/?hl=es"><i class="fa fa-instagram"></i></a>
            <a href="https://x.com/pedagogicaU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
     <!-- Offcanvas Menu End -->
       <!-- Header Section Begin -->
    <header class="header">
        
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="{{url_for ('home')}}"><img src="{{url_for('static' , filename='img/logo.png') }}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="header__top__widget">
                            <ul>
                                <li>LLAMANOS AL +54 11 4560 9603</li>
                                <li>ESCRIBINOS: CICLISMOUPED@GMAIL.COM</li>
                                <li>HORARIOS: LUN - VIE: 9:00 - 19:00</li>
                            </ul>
                            {% if unete %}
                                <a href="{{ url_for('registracion') }}" class="primary-btn">UNETE</a>
                            {% else %}
                                <span class="primary-btn disabled">¡Gracias por participar!</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
        
        <div class="header__nav cuadrado"> ㅤㅤ

            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li class="{% if request.endpoint == 'home' %}active{% endif %}">
                                    <a href="{{url_for ('home')}}">INICIO</a></li>
                                <li class="{% if request.endpoint == 'registracion' %}active{% endif %}" >
                                    <a href="{{url_for ('registracion')}}">REGISTRACIÓN</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="header__social">
                            <a href="https://www.facebook.com/pedagogica/?locale=es_LA"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/universidaddepalermo/?hl=es"><i class="fa fa-instagram"></i></a>
                            <a href="https://x.com/pedagogicaU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <main> 
       
        {% block content %}{% endblock %}

    </main>    
     <!------------------------ ESTO VA EN EL BASE TAMBIEN [fin] ------------------->
       <!-- Footer Section Begin -->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <img src="{{url_for ('static' , filename='img/footer-logo.png') }}" alt="footer-logo.png">
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Lun - vie: 6:30am - 07:45pm</li>
                            <li><i class="fa fa-clock-o"></i> Sab - Dom: 8:30am - 05:45pm</li>
                        </ul>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h5>Contactanos</h5>
                        <ul class="footer-address">
                            <li><i class="fa fa-phone"></i> +54 11 7654 6690</li>
                            <li><i class="fa fa-envelope"></i> ciclismouped@gmail.com</li>
                            <li><i class="fa fa-location-arrow"></i> Alberdi 1834 esquina Junin</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright__social">
                            <a href="https://www.facebook.com/pedagogica/?locale=es_LA"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/universidaddepalermo/?hl=es"><i class="fa fa-instagram"></i></a>
                            <a href="https://x.com/pedagogicaU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{url_for('static' , filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.barfiller.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{url_for('static' , filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/main.js') }}"></script>
</body>
</html>