{% extends "base.html" %}
{% block title %}Formulario{% endblock %}

{% block content %}
<body>
    
<!-- Appoinment Section Begin -->
    <section class="appointment">
        <div class="container">
            <div class="appointment__text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <img src="{{url_for('static' , filename='img/icon-white.png') }}" alt="icon-white.png">
                            <h2>Registrarse</h2>
                        </div>
                    </div>
                </div>
                <form action="/registracion" method="POST" class="appointment__form">
                <input type="hidden" name="modalidad" id="mods">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="name" placeholder="Nombre (Obligatorio)">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" name="email" placeholder="Email (Obligatorio)">
                        </div>
                        <div class="col-lg-6 offset-lg-3">
                            <input type="text" name="num" placeholder="Celular (Obligatorio)">
                        </div>

                        <div class="col-lg-12 text-center">

                            <div class="row mt-4 text-center pb-4 offset-lg-2">
                                {% for datos in diccionario.modalidad.values() %}
                                <div class="col-lg-5">
                                    <button type="button" class="btn btn-lg w-100 py-4 btn-modalidad"
                                    onclick=
                                    "selectModalidad(this, '{{ datos.nombre }}<br>Distancia: {{ datos.distancia }}<br>Dificultad: {{ datos.dificultad }}')"
                                    >
                                    - {{ datos.nombre }}<br><br>
                                    - distancia: {{datos.distancia}} <br><br>
                                    - dificultad: {{datos.dificultad}} </strong> <br>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>

                            <textarea name="info" placeholder="informacion adicional"></textarea>
                            <button type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
                {% if mensaje %}
                
                <h3 class="col-lg-10 offset-lg-1 classes__msj py-3"> {{ mensaje }} </h3>

                {% endif %}
            </div>
        </div>
    </section>
    <!-- Appoinment Section End -->

    <!-- Js Plugins -->
    <script src="{{url_for('static' , filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.barfiller.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{url_for('static' , filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/main.js') }}"></script>
</body>

</html>