<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zogin | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{url_for('static' , filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/barfiller.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!------------------------ ESTO VA EN EL BASE TAMBIEN [inicio] ------------------->
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin  -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu">
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="{{url_for('static' , filename='img/logo.png') }}" alt="logo"></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__widget">
            <ul>
                <li>CALL US: + 1 800-567-8990</li>
                <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
            </ul>
            <a href="#" class="primary-btn">REGISTRARSE/a>
        </div>
        <nav class="header__menu">
            <ul class="mobile-menu">
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./about-us.html">About</a></li>
                <li><a href="./classes.html">Classes</a></li>
                <li><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="./classes-details.html">Classes Details</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                        <li><a href="./pricing.html">Pricing</a></li>
                        <li><a href="./faq.html">Faq</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="{{url_for('static' , filename='img/logo.png') }}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="header__top__widget">
                            <ul>
                                <li>CALL US: + 1 800-567-8990</li>
                                <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                                <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                            </ul>
                            <a href="#" class="primary-btn">JOIN US</a>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="./index.html">Home</a></li>
                                <li><a href="./about-us.html">About</a></li>
                                <li><a href="./classes.html">Classes</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./classes-details.html">Classes Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./faq.html">Faq</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="header__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

<!------------------------ ESTO VA EN EL BASE TAMBIEN [fin] ------------------->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__sliders owl-carousel">
            <div class="hero__items set-bg" data-setbg="{{url_for ('static', filename='img/hero/hero-1.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <span> {{diccionario["organizador"]}} </span>
                                <h2> ¡Carrera anual de ciclismo de la UPED! </h2>
                                <a href="{{ url_for('registracion') }}" class="primary-btn">REGISTRARSE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="home__about__pic">
                        <div class="home__about__pic__item large-item set-bg" data-setbg="{{url_for('static', filename='img/about/about-1.jpg') }}"></div>
                        <div class="home__about__pic__item">
                            <div class="home__about__pic__item__inner set-bg" data-setbg="{{url_for('static', filename='img/about/about-2.jpg') }}"></div>
                            <div class="home__about__pic__item__inner set-bg" data-setbg="{{url_for('static', filename='img/about/about-3.jpg') }}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="home__about__text">
                        <div class="section-title">
                            <img src="{{url_for('static' , filename='img/icon.png') }}" alt="icon">
                            <h2>Unete a la carrera anual mas grande de CABA</h2>
                        </div>
                        <span>"El paso mas importante es empezar"</span>
                        <p>Aqui en la UPED somos fieles creyentes que no podras saber si eres realmente bueno en algo hasta que lo intentes,
                            hemos visto como muchos de nuestros concursantes se inspiraban y 
                            decidian entrenar hasta volverse extremadamente buenos.
                        </p>
                        <p class="para-2">¡VOS podes ser como ellos! concursa en esta carrera con novatos y experimentados, y mostrate a vos 
                            mismo de que eres capaz.
                        </p>
                        <a href="{{ url_for('registracion') }}" class="primary-btn">REGISTRARSE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="chooseus__text">
                        <h2>{{diccionario["nombre"]}}</h2>
                        <p>{{diccionario["descripcion"]}}</p>
                    </div>
                    {% for datos in diccionario.imgdatos.values() %}
                    <div class="chooseus__item">
                        <div class="chooseus__item__icon">
                            <img src="{{url_for('static' , filename='img/chooseus/' ~ datos.archivo) }}" alt="icon">
                        </div>
                       <div class="chooseus__item__text">
                            <h5>{{diccionario[datos.clave]}}</h5>
                            <p>{{datos.texto}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <div class="chooseus__pic">
                        <img src="{{url_for('static' , filename='img/chooseus/chooseus.jpg') }}" alt="chooseus.png">
                    </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Classes Section Begin -->
    <section class="¿Necesitas ayuda?">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>¿Necesitas ayuda?</h2>
                        <p>En esta parte ofrecemos tenes diferentes guias, reglamentos e informacion <br>
                            sobre el evento ¡para que todos puedan ir bien preparados!</p>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for datos in diccionario.pdfs.values() %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="classes__item">
                    
                        <div class="classes__item__pic">
                            <span>{{ datos.palabra }}</span>
                        </div>
                        <div class="classes__item__text text-center">
                            <h4> {{ datos.titulo }} </h4>
                            <h6> {{ datos.autor }} </h6>
                            <a href="{{ url_for('static', filename='pdfs/' ~ datos.link) }}" target="_blank" class="class-btn">ABRIR</a>
                        </div>
                    
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- Classes Section End -->

    <!-- Gallery Section Begin -->
   <section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title normal-title">
                    <h2>ACA va a ir el mapa</h2>
                    
                    
                    <div class="slider">
                        <div class="slides">
                            <img src="{{ url_for('static', filename='img/MAPA1.png') }}" alt="Mapa 1">
                            <img src="{{ url_for('static', filename='img/MAPA2.png') }}" alt="Mapa 2">               
                        </div>
                        <button class="btn prev">&#10094;</button>
                        <button class="btn next">&#10095;</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Gallery Section End -->

    <!-- Team Section Begin -->
    <section class="instructor spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Nuestros patrocinadores</h2>
                        <p>Este evento no se habria podido dar sin nuestros queridos patrocinadores ¡quienes financiaron esta carrera!</p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
    {% for datos in diccionario.imgausp.values() %}
    <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="instructor">
            <div class="instructor__pic">
                <img src="{{ url_for('static', filename='img/instructor/' ~ datos.archivo ) }}" 
                     alt="{{ datos.texto }}" 
                     class="img-fluid">
            </div>
            <div class="instructor__item__text mt-2">
                <h5>{{ datos.texto }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

        </div>
    </section>
    <!-- Team Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="testimonial__slider owl-carousel">
                {% for datos in diccionario.citas.values() %}
                <div class="testimonial__item">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10">
                            <div class="testimonial__text">
                                <p> {{ datos.cita }} </p>
                                <img src="{{url_for('static' , filename='img/testimonial/' ~ datos.archivo) }}" alt="testimonial-1.png">
                                <h5> {{ datos.nombre }} </h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Footer Section Begin -->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <img src="{{url_for ('static' , filename='img/footer-logo.png') }}" alt="footer-logo.png">
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Mon - Fri: 6:30am - 07:45pm</li>
                            <li><i class="fa fa-clock-o"></i> Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Your Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Inspiration</h5>
                        <ul>
                            <li><a href="#">Online Pilates</a></li>
                            <li><a href="#">Yoga for Beginners</a></li>
                            <li><a href="#">Online Pilates</a></li>
                            <li><a href="#">Online Yoga</a></li>
                            <li><a href="#">Conditioning</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>About Us</h5>
                        <ul>
                            <li><a href="#">Our Vision</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">Meet The Team</a></li>
                            <li><a href="#">Introduce</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h5>Contact Us</h5>
                        <ul class="footer-address">
                            <li><i class="fa fa-phone"></i> (01) 436 8888</li>
                            <li><i class="fa fa-envelope"></i> hello@zogin.com</li>
                            <li><i class="fa fa-location-arrow"></i> 828 Granville Lights Suite 466</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{url_for('static' , filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.barfiller.js') }}"></script>
    <script src="{{url_for('static' , filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{url_for('static' , filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{url_for('static' , filename='js/main.js') }}"></script>
</body>

</html>