{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__sliders owl-carousel">
            <div class="hero__items set-bg" data-setbg="{{url_for ('static', filename='img/hero/hero-1.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <span> {{diccionario["organizador"]}} </span>
                                <h2> ¡Carrera anual de ciclismo de la UPED! </h2>
                                <a href="{{ url_for('registracion') }}" class="primary-btn">REGISTRARSE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="home__about__pic">
                        <div class="home__about__pic__item large-item set-bg" data-setbg="{{url_for('static', filename='img/about/about-1.jpg') }}"></div>
                        <div class="home__about__pic__item">
                            <div class="home__about__pic__item__inner set-bg" data-setbg="{{url_for('static', filename='img/about/about-2.jpg') }}"></div>
                            <div class="home__about__pic__item__inner set-bg" data-setbg="{{url_for('static', filename='img/about/about-3.jpg') }}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="home__about__text">
                        <div class="section-title">
                            <img src="{{url_for('static' , filename='img/icon.png') }}" alt="icon">
                            <h2>Unete a la carrera anual mas grande de CABA</h2>
                        </div>
                        <span>"El paso mas importante es empezar"</span>
                        <p>Aqui en la UPED somos fieles creyentes que no podras saber si eres realmente bueno en algo hasta que lo intentes,
                            hemos visto como muchos de nuestros concursantes se inspiraban y 
                            decidian entrenar hasta volverse extremadamente buenos.
                        </p>
                        <p class="para-2">¡VOS podes ser como ellos! concursa en esta carrera con novatos y experimentados, y mostrate a vos 
                            mismo de que eres capaz.
                        </p>
                        <a href="{{ url_for('registracion') }}" class="primary-btn">REGISTRARSE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="chooseus__text">
                        <h2>{{diccionario["nombre"]}}</h2>
                        <p>{{diccionario["descripcion"]}}</p>
                    </div>
                    {% for datos in diccionario.imgdatos.values() %}
                    <div class="chooseus__item">
                        <div class="chooseus__item__icon">
                            <img src="{{url_for('static' , filename='img/chooseus/' ~ datos.archivo) }}" alt="icon">
                        </div>
                       <div class="chooseus__item__text">
                            <h5>{{diccionario[datos.clave]}}</h5>
                            <p>{{datos.texto}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <div class="chooseus__pic">
                        <img src="{{url_for('static' , filename='img/chooseus/chooseus.jpg') }}" alt="chooseus.png">
                    </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Classes Section Begin -->
    <section class="¿Necesitas ayuda?">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>¿Necesitas ayuda?</h2>
                        <p>En esta parte ofrecemos tenes diferentes guias, reglamentos e informacion <br>
                            sobre el evento ¡para que todos puedan ir bien preparados!</p>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for datos in diccionario.pdfs.values() %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="classes__item">
                    
                        <div class="classes__item__pic">
                            <span>{{ datos.palabra }}</span>
                        </div>
                        <div class="classes__item__text text-center">
                            <h4> {{ datos.titulo }} </h4>
                            <h6> {{ datos.autor }} </h6>
                            <a href="{{ url_for('static', filename='pdfs/' ~ datos.link) }}" target="_blank" class="class-btn">ABRIR</a>
                        </div>
                    
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- Classes Section End -->

    <!-- Gallery Section Begin -->
   <section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title normal-title">
                    <h2>Mapas del trayecto</h2>
                    
                    
                    <div class="slider">
                        <div class="slides">
                            <img src="{{ url_for('static', filename='img/MAPA1.png') }}" alt="Mapa 1">
                            <img src="{{ url_for('static', filename='img/MAPA2.png') }}" alt="Mapa 2">               
                        </div>
                        <button class="b-slide prev">&#10094;</button>
                        <button class="b-slide next">&#10095;</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Gallery Section End -->

    <!-- Team Section Begin -->
    <section class="instructor spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Nuestros patrocinadores</h2>
                        <p>Este evento no se habria podido dar sin nuestros queridos patrocinadores ¡quienes financiaron esta carrera!</p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
    {% for datos in diccionario.imgausp.values() %}
    <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="instructor">
            <div class="instructor__pic">
                <img src="{{ url_for('static', filename='img/instructor/' ~ datos.archivo ) }}" 
                     alt="{{ datos.texto }}" 
                     class="img-fluid">
            </div>
            <div class="instructor__item__text mt-2">
                <h5>{{ datos.texto }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

        </div>
    </section>
    <!-- Team Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="testimonial__slider owl-carousel">
                {% for datos in diccionario.citas.values() %}
                <div class="testimonial__item">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10">
                            <div class="testimonial__text">
                                <p> {{ datos.cita }} </p>
                                <img src="{{url_for('static' , filename='img/testimonial/' ~ datos.archivo) }}" alt="testimonial-1.png">
                                <h5> {{ datos.nombre }} </h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
{% endblock %}
   
</html>